body {
    font-family: sans-serif;
    background-color: hsl(220, 100%, 90%);
    color: hsl(220, 100%, 20%);
}

h1 {
    text-align: center;
}

img.profile {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}